includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - tests/bootstrap.php
    excludes_analyse:
        - src/Controller/SocialAccountsController.php
        - src/Controller/UsersAccountsController.php
        - src/Controller/AppAccountsController.php
    ignoreErrors:

services:
