includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - ./src
    excludePaths:
        - src/Controller/SocialAccountsController.php
        - src/Controller/UsersController.php
        - src/Controller/AppController.php
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: trait.unused
